section.news
	padding 24px
	.news-list
		margin-bottom 24px
	.news-list-item
		margin-bottom 16px
		&:last-child
			margin-bottom 0
	.news-list-item-date
		margin-bottom 8px
		display block
		font-size (12/16em)
		font-weight 700
		line-height 1em
	.news-list-item-title, .news-back
		color blue
		text-decoration none
		border-bottom 1px dotted blue
	.news-back
		font-weight 700