// Пути
path_fonts = '/assets/fonts/'
path_images = '/assets/images/'

// Размеры экранов
display_mobile_portrait = 320px
display_mobile_landscape = 480px
display_tablet_small = 640px
display_tablet_portrait = 768px
display_tablet_landscape = 1024px
display_laptop = 1144px

// Отступы
gap_mobile = 14px
gap_tablet = 24px
gap_laptop = 28px

// Палитра
color_white = #ffffff
color_snow = #f3f3f3
color_gainsboro = #dddddd
color_novel = #999999
color_black = #000000
color_blue = #0079c7
color_silver = #bcbcbc
