// Core
@import '../../_/config.styl'
@import '../../_/mixins.styl'

section.newsDetail
	padding 24px
	.newsDetail-heading,
	.newsDetail-date,
	.newsDetail-content
		margin-bottom 24px
	.newsDetail-heading
		font-size (36/16em)
		line-height 1em
	.newsDetail-date,
	.newsDetail-back
		font-weight 700
	.newsDetail-back
		color blue
		text-decoration none
		border-bottom 1px dotted blue
