include config.pug
doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='description', content="")
		meta(name='keywords', content="")
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		meta(content='telephone=no', name='format-detection')
		title Stoner
		// if IE meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		// if lt IE 9 script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
		link(rel='shortcut icon', href='/templates/'+templateName+'/assets/images/favicons/favicon.ico', type='image/x-icon')
		link(rel='mask-icon' href='/templates/'+templateName+'/assets/images/favicons/favicon.svg' color='#000000')
		link(rel='apple-touch-icon', href='/templates/'+templateName+'/assets/images/favicons/apple-touch-icon.png')
		each size in ['57x57', '72x72', '76x76', '114x114', '120x120', '144x144', '152x152', '180x180']
			link(rel='apple-touch-icon', sizes=size, href='/templates/'+templateName+'/assets/images/favicons/apple-touch-icon-' + size + '.png')
	body
		#app
			#headerLayout
			#homePageLayout(data-page='home')
			#newsPageLayout(data-page='news')
			#newsDetailPageLayout(data-page='newsDetail')
			#footerLayout
		script(defer, data-main='/templates/'+templateName+'/assets/config' src='/templates/'+templateName+'/assets/vendors/requirejs/require.js')
